// variabals
$primary-color: #ffb400;
$dark-text-color: #2b2b2b;
$light-text-color: #767676;

// .roboto-bold {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-style: normal;
// }

// .inter {
//   font-family: 'Inter', sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings: 'slnt' 0;
// }

html {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 970px;
  margin: 0 auto;
}

.header {
}
.header__nav {
}
.nav {
}
.nav-list {
}
.nav__item {
}
.header__theme {
}
.aside-panel {
}
.aside-panel__info {
}
.info {
}
.info__photo {
}
.info__name {
}
.info__profession {
}
.aside-panel__social {
}
.social {
}
.social__link {
}
.aside-panel__language {
}
.language {
}
.language__item {
}
.aside-panel__skills {
}
.skills {
}
.skills__item {
}

.hero {
}
.hero__title {
}
.hero__discription {
}
.hero__link {
}
.education {
}
.education__title {
}
.education__discription {
}
.education__list {
}
.education__item {
}
.education__info {
}
.education__place {
}
.education__interval {
}
.portfolio {
}
.portfolio__title {
}
.portfolio__discription {
}
.portfolio__works {
}
.portfolio__links {
}
.connection {
}
.connection__form {
}
.connection__form-input {
}
